{% comment %}
** Collections - default view **
- Collection template
- Uses blocks
{% endcomment %} 

<a name="pagecontent" id="pagecontent"></a>

<div class="collectionContainer">

  <div class="container collectionGroup" id="bundlesGiftSets">
    <div class="four columns">
      {% assign bundles = collections.bundles %}
      <h2>{{ bundles.title }}</h2> 
      {{ bundles.description }}
    </div>
    <div class="twelve columns">
      {% for bundle in collections.bundles.products %}
        <div class="collectionGroup__item">
          <a href="{{ bundle.url }}">
            {% assign image = bundle.featured_image %}
      
            {% render 'image-element',
                    image: image,
                    alt: collection.title,
                    stretch_width: true,
                    progressive: true
            %}
            <h3>{{ bundle.title }}</h3>
            <p class="collectionGroup__itemPrice">{{ bundle.price | money }}</p>
          </a> 
        </div>
      {% endfor %} 
    </div>
  </div>

  <div class="container collectionGroup" id="dateBites">
    <div class="four columns">
      {% assign dateBites = collections.date-bites %}
      <h2>{{ dateBites.title }}</h2>
      {{ dateBites.description }}
    </div>
    <div class="twelve columns">
      {% for bite in collections.date-bites.products %}
        <div class="collectionGroup__item">
          <a href="{{ bite.url }}">
            {% assign image = bite.featured_image %}
      
            {% render 'image-element',
                    image: image,
                    alt: collection.title,
                    stretch_width: true,
                    progressive: true
            %}            
            <h3>{{ bite.title }}</h3>
            <p class="collectionGroup__itemPrice">{{ bite.price | money }}</p>
          </a> 
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container collectionGroup" id="chocolateBark">
    <div class="four columns">
      {% assign chocolateBark = collections.chocolate-bark %}
      <h2>{{ chocolateBark.title }}</h2>
      {{ chocolateBark.description }}
    </div>
    <div class="twelve columns">
      {% for bark in collections.chocolate-bark.products %}
        <div class="collectionGroup__item">
          <a href="{{ bark.url }}">
            {% assign image = bark.featured_image %}
      
            {% render 'image-element',
                    image: image,
                    alt: collection.title,
                    stretch_width: true,
                    progressive: true
            %}
            <h3>{{ bark.title }}</h3>
            <p class="collectionGroup__itemPrice">{{ bark.price | money }}</p>
          </a> 
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container collectionGroup" id="superfoodMix">
    <div class="four columns">
      {% assign superfoodMix = collections.superfood-mix %}
      <h2>{{ superfoodMix.title }}</h2>
      {{ superfoodMix.description }}
    </div>
    <div class="twelve columns">
      {% for mix in collections.superfood-mix.products %} 
        <div class="collectionGroup__item">
          <a href="{{ mix.url }}">
            {% assign image = mix.featured_image %}
      
            {% render 'image-element',
                    image: image,
                    alt: collection.title,
                    stretch_width: true,
                    progressive: true
            %}
            <h3>{{ mix.title }}</h3>
            <p class="collectionGroup__itemPrice">{{ mix.price | money }}</p>
          </a> 
        </div>
      {% endfor %}
    </div>
  </div>

</div>